<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshu.dao.DeviceMapper">
  <select id="findList" parameterType="" resultType="">
   SELECT e.*,t.tname AS tname FROM device e,devicetype d WHERE e.did=d.id
  </select>
</mapper>